@page
@model SmithEliteTraining.Pages.ServicesModel
@{
    ViewData["Title"] = "Services";
}

<div class="text-center">
    <h1 class="display-4">Services</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
